!!! 5
div.container-fluid
    div.row-fluid
        h1 Feature Flipper - Admin Tool
        p Here you'll find your features!

    div.row-fluid
        table.table.table-striped
            thead
                tr
                    th feature description
                    th enabled to all
                    th enabled to some

            if typeof(features) !== 'undefined'
                for feature in features
                    tr
                        td #{feature.description}
                        td ??
                        td ??
        
p bye